* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    font-family: 'Montserrat', sans-serif;  
}

h1{
    padding: 2rem;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

#our_team{
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.member_card{
    width: calc(100% / 3 - (20 / 3 * 2));
    padding: 2rem 0;
}

.name{
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
}
